/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
}
a{
  text-decoration: none;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  letter-spacing: 0.5px;
  background-color: #3A4663;
  color: #222;
}
img
{
  max-width: 100%;
  height: auto;
}
/* * * / AUTOFILL STYLES \ * * */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *** CONTAINER *** */
.container
{
  padding-top: 50px;
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}
.btn{
  max-width: 140px;
  width: 100%;
  padding: 24px;
  border: 0;
  border-radius: 10px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: #EAE3DC;
  box-shadow: 0px -4px 0px 0px #B3A497 inset;
  cursor: pointer;
  color: #434A59;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.btn-index{
  max-width: 200px;
}
.btn:hover{
  opacity: 0.8;
}
.btn:active{
  transform: translateY(2px);
}
/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
}
.box-index{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  border-radius: 15px;
  background-color: #212c46;
  gap: 50px;
}
.box{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: calc((100% - 560px) / 3);
  padding: 30px 100px 160px;
  border-radius: 15px;
  background-color: #212c46;
}
.title{
  color: #fff;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
}
.result{
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 200px);
  border-radius: 15px;
  min-width: 400px;
  max-height: 100px;
  height: 100%;
  padding: 25px;
  color: #fff;
  background: #EAE3DC;
  color: #434A59;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}